.dvTable{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 3px white;
    border-radius: 3px;
  }

 
  .Ilogin-box {
    position: absolute;
    left: 50%;
    table-layout: fixed;
    width: 390px;
    padding: 70px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

  @media screen and (max-width: 768px) {
    .Ilogin-box{
      margin-top: 25%;
      left: 49.5%;
      width: 90%;
      position: absolute;
      padding: 15px;
      transform: translate(-50%, -50%);
      background: rgba(0,0,0,.5);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 10px;
  }
  }

  h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
 
   .DVtd,  .DVth {
    border: 1px solid #ddd;
    padding: 20px;
  }
  .DVtr{
    color: #ffffff;
    border: 1px solid white;
    text-align: center;
  }
  
  .DVth {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  th.DVth img{
    width: 200%; 
    height: 200%; 
    max-height: 30px;
    border-radius: 0;
}

  .IvTable{
    table-layout: fixed;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 3px white;
    border-radius: 3px;
  }

  .IVtd,  .IVth {
    border: 1px solid #ddd;
    padding: 0%;
    text-align: center;
  }
  .IVtr{
    color: #ffffff;
    border: 1px solid white;
    text-align: center;
  }
  
  .IVth {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  .IVttd{
    border: 1px solid #ddd;
    padding: 0%;
    word-break: break-all;
    text-align: center;
  }

  .IVtd img {
    border-radius: 0px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
  }


  .IVtth {
    padding-top: 3.5%;
    word-break: break-all;
    padding-bottom: 3.5%;
    word-break: break-all;
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }