img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    image-rendering: pixelated;
}
@media screen and (max-width:768px) {
    .SelectTeam{
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
        color: rgb(0, 0, 0);
    }
}
.SelectTeam{
    width: auto;
    margin-left: 16%;
    margin-right: 16%;
}
.SelectTeama:hover {
    background-color: rgb(121, 121, 121);
  }
.login-box .Stack{
    width: 72%;
    padding-left: 14%;
}

.clue{
    width: 50%;
    height:auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;

}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}
